# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
auth0/management/.env
auth0/management/rendering-data.json

# Playwright
playwright-scripts/screenshots/
playwright-scripts/.env

# Package files
README-PACKAGE.md
*.zip
