<div class="flex flex-col min-h-screen bg-gray-50">
  {{> header}}
  <main class="flex-grow flex items-center justify-center p-4">
    <div class="w-full max-w-6xl mx-auto">
      {{{body}}}
    </div>
  </main>
  {{> footer}}
</div>
